<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".Application"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="AllowBackup">
<!--        <service-->
<!--            android:name="com.walhalla.smsregclient.firebase.FirebaseMessagingService"-->
<!--            android:enabled="true"-->
<!--            android:exported="true">-->

<!--            <intent-filter>-->
<!--                <action android:name="com.google.firebase.MESSAGING_EVENT" />-->
<!--            </intent-filter>-->

<!--        </service>-->

        <activity
            android:name=".m1"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launcher"
            android:exported="true"
            tools:ignore="LockedOrientationActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.walhalla.smsregclient.ui.dialog.CountrycodeActivity"
            android:label="Select your country"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog" />
        <activity
            android:name="com.walhalla.smsregclient.ui.dialog.ServiceCodeActivity"
            android:label="Select service"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog" /> <!-- <service -->
        <!-- android:name=".firebase.SimpleFirechatMessagingService" -->
        <!-- android:exported="false"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.firebase.MESSAGING_EVENT" /> -->
        <!-- </intent-filter> -->
        <!-- </service> -->
        <!--<service -->
        <!--android:name=".firebase.SimpleFirechatInstanceIdService" -->
        <!--android:exported="false"> -->
        <!--<intent-filter> -->
        <!--<action android:name="com.google.firebase.INSTANCE_ID_EVENT" /> -->
        <!--</intent-filter> -->
        <!--</service> -->
        <activity android:name="com.walhalla.smsregclient.ui.activity.VsimGetActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="5f439b79153afb9a4bad61f438658aca3c255d88" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/app_id" />


    </application>

</manifest>